body {
	background: #efefef;
}

a, a:link, a:visited {
	color: #294684;
}

.container {
  width: 960px;
  margin: 30px auto;
}

label {
	display: inline-block;
	width: 100px;
	text-align: right;
	margin: 20px 5px;
}

#ops_submit {
	width: 285px;
}

a:active, input.button:active { outline: 0; position: relative; top: 1px; }

a.button, a:visited.button {
	display: inline-block;
	background: #336699;
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));		
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	text-decoration: none;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
	width: auto;
	overflow: visible;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	-webkit-appearance: none;

	font-weight:bold;
	font-size: 13px;
}
a.button:hover { 
	background: #09f; 
	color: #fff; 
}


a.download {
	background-image: url(../img/icon_set_bg.png);
	background-repeat: no-repeat;
	background-position: 10px 8px;
	padding-left: 40px;
}

a.download:hover {
	background-image: url(../img/icon_set_bg.png);
	background-repeat: no-repeat;
	background-position: 10px 8px;
	padding-left: 40px;
}

.subtle, .subtle a {
	color: #666;
	font-size: 11px;
}

/* tr:nth-child(even) td, tr.even td {background:#e5ecf9;} */
/* tr.odd td {background:#eaeaea;} */


div.floating-menu {
	position: fixed;
	background: #fff4c8;
	border: 1px solid #ffcc00;
	width: 180px; 
	z-index: 100;
	right: 10px;
	padding: 12px;
	max-height: 550px;
	overflow: auto;
}

div.floating-menu a, div.floating-menu h3 {
	display: block;
	padding: 6px 0;
	margin: 0px;
}

ul#user-list {
	margin: 0;
	margin-top: 20px;
	padding: 0;
}

ul#user-list li {
	list-style-type: none;
	padding: 5px 0;
}

ul#user-list li a {
	font-weight: bold;
	text-decoration: none;
}


div.error {
	color: red;
	font-size: 14px;
}

.error {
	color: red;
}

#userlist-container input {
	width: 250px;
	height: 26px;
	line-height: 26px;
	padding-left: 10px;
	font-size: 18px;
}

#userlist-container label {
	width: 260px;
	text-align: center;
	font-weight: bold;
	margin: 20px 0 5px 0;
	font-size: 16px;
}

#efpp_form_container label {
	width: 140px;
	text-align: right;
}

#efpp_form_container input {
	width: 160px;
}

#efpp_form_container input[type=submit] {
	width: 320px;
	height: 50px;
}

.scanned {
	color: green;
}

.notscanned {
	color: red;
}

#xmlfiles-container {
	width: 650px;
	float: left;
}

#xmlfiles-container ul li {
	font-size: 14px;
	padding: 5px 0;
}

#xmlfiles-container ul li span {
	color: #666;
	font-size: 12px;
}

#xmlfiles-container ul {
	padding: 0;
	margin: 0;
}

#xmlfiles-container ul li {
	padding: 5px 0;
	list-style-type: none;
}

.info_box {
	float: right;
	border: 2px solid #666;
	padding: 15px;
	width: 250px;
	background: #fff;
	margin-bottom: 20px;
	clear: right;
}

.red {
	width: 218px;
	border: 2px solid red;
	background: url(../img/error-bg.png) center left no-repeat;
	padding-left: 47px;
}

.green {
	width: 218px;
	border: 2px solid green;
	background: url(../img/success-bg.png) center left no-repeat;
	padding-left: 47px;
}

#log-container .box{
	border: 1px solid #333;
	background: #e2e2e2;
	padding: 10px;
	float: left;
	font-size: 11px;
}

#log-container #user-log {
	width: 595px;
	margin-right: 20px;
}

#log-container #admin-log {
	width: 300px;
}

.cleanup {
	border-bottom: 1px dashed red;
	font-size: 12px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

#xmlfiles-container #upload-form {
	background: #e2e2e2;
	border: 1px solid #666;
	padding: 10px;
}

#xmlfiles-container #upload-form label {
	margin:0;
}

#xmlfiles-container #upload-form div {
	margin-top: 10px;
	font-size: 11px;
}


#admin-menu-container {
	padding: 5px 0;
	background: #e2e2e2;
	/*border-bottom: 1px solid #333;*/
	margin-bottom: 20px;
}

.left{
	float: left;
	width: 600px;
}

.right{
	float: right;
	width: 300px;
	text-align: right;
}

ul#admin-menu {
	padding: 0;
	margin: 0;
}

ul#admin-menu li {
	list-style-type: none;
	float: left;
	
}

ul#admin-menu li a {
	display: inline-block;
	text-decoration: none;
	padding: 4px 8px;
	margin: 0 5px;
	margin-top: 5px;
	border-bottom: 5px solid #e2e2e2;
}

ul#admin-menu li.current a, ul#admin-menu li a:hover {
	border-bottom: 5px solid #666;
}

#efpp_logged_in {
	line-height: 35px;
	padding-right: 15px;
}

#header {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

#header .right {
	padding-top: 35px;
	padding-right: 15px;
}

#efpp_form_container {
	margin-top: 20px;
	padding: 20px;
	background: #333;
	color: #fff;
}

#efpp_form_container label {
	font-size: 16px;
	font-weight: normal;
};

table#passwords {
	margin-top: 20px;
	display: block;
}

table#passwords td {
	border: 1px solid #ccc;
	padding: 8px;
}
/*
table#passwords thead td {
	
	border: 1px solid #ccc;
	padding: 8px;
}*/

ul.pws_tabs_controll {
	margin: 0;
}

.froala-box .froala-wrapper {
	overflow: visible !important;
}

.user_login_container div{
	float: left;	
}

.user_login_container div.user_form {
	width: 300px;
	padding-top: 10px;
}

.user_login_container div.login_notes {
	width: 500px;	
	padding-top: 5px;
}


.compare {
	border-collapse: collapse;
	width: 100%;
}

.compare td {
	border: 1px solid #666;
	text-align: right;
}

.totals td {
	border: 1px solid #666;
	text-align: center;
}

.special, .special * {
	font-weight: bold;
}

.special {
	background: #e5ecf9 !important;
}